.header{
    text-align: left;
    margin: 10px 0px;
}

#header-container{
    color: #DCDCDC;
    margin: 0 0 20px 0px;
    background-color: black;
}

.header h5{
    margin: 0px;
    padding-top: 5px;
    padding-left: 25%;
}